@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
    --font-sans: "Noto Sans JP", sans-serif;
}

:root {
    --ui-radius: var(--radius-md);
}

.font-akiba {
    font-family: "KHドット秋葉原 16";
}

.font-kikai {
    font-family: "機械彫刻用標準書体 M";
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-chivo {
    font-family: "Chivo Mono", monospace;
}

.text-2xs {
    font-size: 0.625em;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
